name: Check PR Sign Off

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check-sign-off:
    name: Check if commits are signed
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check PR sign off
        uses: live627/check-pr-signoff-action@990e5cc2aa4058b4012f989c9c9e689734e52c54 # v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}